#upperPanel, bottomPanel {
-fx-background-color: #D6D1BB;
}

#sendButton, bottomPanel {
    -fx-background-radius: 100;
    -fx-padding: 12px;
    -fx-background-insets: 5px;
    -fx-font: 18px "Roboto";
    -fx-background-color: #5FB9BA;
    -fx-text-fill: #E3F2FD;
}

#sendButton:hover {
    -fx-background-radius: 100;
    -fx-padding: 12px;
    -fx-background-insets: 5px;
    -fx-font: 18px "Roboto";
    -fx-background-color: #FF4500;
    -fx-text-fill: #E3F2FD;
}

#textArea {
    -fx-background-image: url("../img/background.jpg");
    -fx-font: 18px "Roboto";
    -fx-control-inner-background: #E3F2FD;
    -fx-text-fill: #000000;
}

.scroll-bar: vertical {
    -fx-background-color: rgba(255,255,255,0.5);
}

.scroll-bar: vertical .thumb {
    -fx-background-color: #46AEB1;
    -fx-background-radius: 5em;
}

.text-area .viewport {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: transparent;
}



.text-area .text {
    -fx-effect: dropshadow(gaussian, #D6D1BB, 10, 1, 0, 0);
}

#textField {
    -fx-pref-width: 200;
    -fx-background-radius: 100;
    -fx-padding: 12px;
    -fx-background-insets: 5px;
    -fx-control-inner-background: #E3F2FD;
    -fx-font: 18px "Roboto";
}
